@media  screen and (max-width:1380px){
    body{
        margin-left:50px;
        margin-right: 50px;
    }
}

@media  screen and (max-width:1316px){
.scrolltoBottom-wrapper:hover {
    position: fixed;
    bottom: 50px;
    right: 10px;
    font-size: 25px;
    color: #191919;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s;
    padding: 5px;
    opacity: 0.8;
}
.scrolltoTop-wrapper:hover {
    position: fixed;
    bottom: 50px;
    right: 10px;
    font-size: 25px;
    color: #191919;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s;
    padding: 50px;
    opacity: 0.8;
}
}

@media  screen and (max-width:1224px){
    .projects-list{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}


